.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px auto auto;
  grid-template-areas:
    'header header'
    'image blackbox'
    'image blackbox2';
}

.page-header {
  font-family: 'Bungee Spice';
  grid-area: header;
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.page-image {
  grid-area: image;
  padding: 10px;
}

.page-black-box {
  grid-area: blackbox;
  padding: 10px;
  margin-top: 150px;
}
.page-black-box2 {
  grid-area: blackbox2;
  padding: 10px;
}

/* Additional styles for illustration purposes */
body {
  font-family: 'Noto Serif Thai';
  background-color: orange;
  margin: 0;
  padding: 0;
}

.page-header h1 {
  margin: 0;
}

.page-image img {
  max-width: 100%;
  height: auto;
}



.page-black-box {
  border: 2px solid black;
  background-color: blanchedalmond;
  width: 458px;
  height: 258px;
  
}
.page-black-box2 {
  border: 2px solid black;
  background-color: blanchedalmond;
  width: 458px;
  height: 258px;
}

#image-field {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

#image-field1 .image-row {
margin-bottom: 10px;
}

#image-field1 img {
width: 300px;
height: auto;
margin-right: 10px;
}

.image-text {
text-align: center;
margin-top: 5px;
background-color: aquamarine;
width: fit-content;
border: 2px solid black"
}
#image-field1 .image-row,
#image-field2 .image-row,
#image-field3 .image-row {
display: flex;
justify-content: left;
}

#image-field1 .image-container,
#image-field2 .image-container,
#image-field3 .image-container {
text-align: center;
margin-right: 10px;
}

#image-field1 .image-container:last-child,
#image-field2 .image-container:last-child,
#image-field3 .image-container:last-child {
margin-right: 0;
}

#image-field1 .image-container img,
#image-field2 .image-container img,
#image-field3 .image-container img {
width: auto;
height: auto;
}

#image-field1 .image-container .image-text,
#image-field2 .image-container .image-text,
#image-field3 .image-container .image-text {
margin-top: 5px;
}
button {
margin-top: 10px;
}
.selected {
border: 5px solid yellow;
}

.select-container {
margin-top: 20px;
}

